<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
<<<<<<< HEAD
  <%= render @users %>
=======
    <%= render @users %>
>>>>>>> 492a32513cf0a2428ce18f4cc64ccc76453e9bdc
</ul>

<%= will_paginate %>