<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
<<<<<<< HEAD
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
=======
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",	about_path %></li>
>>>>>>> 492a32513cf0a2428ce18f4cc64ccc76453e9bdc
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>